@import "ionicons";
//  COLORS DEFINITIONS
$dash-header-background: #13bdd2;
$dash-header-primary: #fff;
$dash-header-secondary: #e81c7b;
$dash-header-imgBorder: #5ad1e0;
$dash-header-menuActive: #000;
$dash-main-background: #d9dada;
$dash-main-primary: #fff;
$dash-main-secondary: #13bdd2;
$dash-main-tertiary: #e81c7b;
$dash-main-quaternary: #01cc01;
$dash-main-icon: #b2b2b2;
$dash-main-iconActive: #fff;
$dash-main-text1: #000;
$dash-main-text2: #6eb512;
$dash-main-textActive: #fff;
body {
    background-color: $dash-main-background;
}

.dashboard-header {
    font-family: 'Roboto', Arial, sans-serif;
    background: $dash-header-background;
    color: $dash-header-primary;
    width: 100%;
    nav {
        height: 100%;
        .dashboard-menuItem {
            position: relative;
            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .dashboard-menu-active {
            background-color: $dash-header-menuActive;
            &::after {
                background-color: $dash-header-menuActive;
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                border-radius: 12px;
            }
        }
        .dashboard-menuItem {
            text-align: center;
            font-size: 2.5em;
            p {
                font-size: 0.3em;
            }
        }
    }
    .dashboard-headerLeft {
        margin: 1.5vw;
        img {
            border: 1px solid $dash-header-imgBorder;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            width: 75%;
            margin: 0px 2px;
        }
        .dashboard-headerLogo {
            text-align: right;
        }
        .dashboard-headerUser {
            position: relative;
            p {
                font-size: 1.5rem;
            }
            &>div {
                bottom: -10px;
                position: absolute;
                font-size: 1.8rem;
                .ion-email {
                    position: relative;
                    span {
                        position: absolute;
                        top: 0px;
                        right: -50%;
                        background-color: $dash-header-secondary;
                        font-style: normal;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .dashboard-headerRight {
        font-size: 2.5em;
        input[type=search],
        input[type=search]:focus {
            font-size: 0.5em;
            text-align: right;
            background-color: rgba(0, 0, 0, 0);
            border: 0 none;
            outline: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            padding: 0px;
            margin: 0px;
            color: $dash-header-primary;
        }
        input[type=submit] {
            text-align: left;
            font-family: $ionicons-font-family;
            background-color: rgba(0, 0, 0, 0);
            border: 0 none;
            outline: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            color: $dash-header-primary;
        }
        .dashboard-logOut {
            margin-left: 1em;
            color: $dash-header-secondary;
            border-left: 1px solid $dash-header-primary;
        }
    }
}