.dashboard-header {
    font-family: 'Roboto', Arial, sans-serif;
    background: #13bdd2;
    color: #fff;
    height: 240px;
    width: 100%;
    .dashboard-verticalAlgin {
        display: flex;
        align-items: center;
        height: 240px;
        .dashboard-user {
            display: flex;
            position: relative;
            img {
                border: 1px solid #5ad1e0;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
            }
            .dashboard-userName {
                display: block;
                top: 0px;
                position: absolute;
                font-size: 1.5em;
            }
            .dashboard-userIcons {
                bottom: 0px;
                position: absolute;
                text-align: left;
                font-size: 1.5em;
            }
        }
    }
}